@model IEnumerable<And.Eticaret.UI.Web.Models.Sınıflar.Category>

@{ foreach (var item in Model)
    {

        <li class="item"><a class="list-group-item-heading" href="/Kategori/@item.Name.Replace(" ","-")/@item.ID">@item.Name</a></li>


    }
}