
@{
    ViewBag.Title = "Hakkimizda";
}

<h2>Uygulamada Kullanılan Ürün Görsel Linkleri:</h2>
<p>
    * https://cdn.saatvesaat.com.tr/media/catalog/product/w/w/wwg203801_1.jpg
    <br />
    * https://f-sch-l.mncdn.com/livephotos/217/5115840144/5115840144-445-0.jpg
    <br />*	https://f-sch-l.mncdn.com/livephotos/217/02952267899/02952267899-915.jpg
    <br />*https://f-sch-l.mncdn.com/livephotos/217/00549450414/00549450414-284-0.jpg
    <br />*https://f-sch-l.mncdn.com/livephotos/217/5108640199/5108640199-853-0.jpg
    <br />*https://f-sch-l.mncdn.com/livephotos/217/5103691299/5103691299-954.jpg
    <br />*https://f-sch-l.mncdn.com/livephotos/217/5094780199/741-01.jpg
    <br />*https://f-sch-l.mncdn.com/livephotos/217/5080910145/608-01.jpg
    <br />




</p>
<h2>Uygulamada Kullanılan Slider Görsel Linkleri:</h2>
<p>

    <br />* https://i.pinimg.com/originals/9b/bb/1a/9bbb1a180c7d1ce546466a04a2133855.png
    <br />* https://i.pinimg.com/originals/5e/4b/c0/5e4bc0bea8b10f6ce92da94ca405cb87.png
    <br />* https://i.pinimg.com/originals/48/94/ec/4894ecf060abf2fb0ed9a10bd90192dd.png
  
    <br />




</p>

